- name: Install Prometheus
  apt:
    name: prometheus
    state: present
    update_cache: yes

- name: Deploy Prometheus configuration
  template:
    src: prometheus.yml.j2
    dest: /etc/prometheus/prometheus.yml
  notify:
    - Restart Prometheus

- name: Install dependencies for Grafana
  apt:
    name:
      - apt-transport-https
      - software-properties-common
      - wget
    state: present
    update_cache: yes

- name: Add Grafana GPG key
  apt_key:
    url: https://packages.grafana.com/gpg.key
    state: present

- name: Add Grafana repository
  apt_repository:
    repo: deb https://packages.grafana.com/oss/deb stable main
    state: present  
    filename: grafana
    update_cache: yes

- name: Install Grafana
  apt:
    name: grafana
    state: present
    update_cache: yes

- name: Deploy Grafana Datasource Provisioning
  template:
    src: grafana-datasource.yml.j2
    dest: /etc/grafana/provisioning/datasources/automatic.yml
  notify:
    - Restart Grafana

- name: Start and enable services
  service:
    name: "{{ item }}"
    state: started
    enabled: yes
  loop:
    - prometheus
    - grafana-server