- name: INstall basic packages
  apt:
    name:
      - curl
      - vim
      - git
      - htop
    state: present
    update_cache: yes
  
- name: Install Prometheus Node Exporter
  apt:
    name: prometheus-node-exporter
    state: present

- name: Ensure Prometheus Node Exporter is running
  service:
    name: prometheus-node-exporter
    state: started
    enabled: yes